<div class="container">

  <div class="row col-md-8 col-md-offset-2">

    <div class="options">

      <div class="records">
        Records: 
        <select (change)="changeRowCount()" [(ngModel)]="rowCount" class="selectBox">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option [value]="totalRowCount">All</option>
        </select>
      </div>

      <div class="search">
        Search: <input (keyup)="fetchEmployees()" [(ngModel)]="searchText" class="searchBox" type="text"/>
      </div>

    </div>

    <table class="table table-hover">

      <thead>
        <tr>
          <th>#</th>
          <th><span (click)="toggleNameOrder($event)" class="pointer">Name <i></i></span></th>
          <th><span (click)="toggleAgeOrder($event)" class="pointer">Age <i></i></span></th>
          <th><span (click)="toggleCityOrder($event)" class="pointer">City <i></i></span></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="employees.length == 0">
          <td colspan="4" align="center" valign="middle">
            No Records Found.
          </td>
        </tr>
        <tr *ngFor="let employee of employees; let i = index;">
          <td>{{i+1+offset}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.age}}</td>
          <td>{{employee.city}}</td>
        </tr>
      </tbody>

    </table>

    <div>

      <nav *ngIf="employees.length != 0" class="paginationWrapper">
        <ul class="pagination">
          <!-- <li class="disabled"><span>&laquo;</span></li> -->
          <li [class.active]="i == 1" (click)="changeOffset(i, $event)" *ngFor="let i of getNumber(totalPages)"><a>{{i}}</a></li>
          <!-- <li><span>&raquo;</span></li> -->
        </ul>
      </nav>

    </div>

  </div>

</div>

